PORT=3003

STRIPE_SECRET=

# https://dashboard.stripe.com/acct_1TgbWGJQug11Kah2/test/dashboard
# Este es el signing secret del webhook via CLI
ENDPOINT_SECRET_TESTING=

# https://dashboard.stripe.com/acct_1TgbWGJQug11Kah2/test/workbench/webhooks/we_1ThUzSJQug11Kah2Kh5CTETZ
# Este es el signing secret del webhook via stripe
ENDPOINT_SECRET_OFFICIAL=